.main-footer {
  grid-area: footer;
  background: linear-gradient($secondary_blue, $accent_blue);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    text-align: center;

    @include mq("md") {
      text-align: left
    }
  }

  span {
    @extend .lato_regular_16, .white;
    opacity: .8;
    margin-left: 20px;

    @include mq("md") {
      margin-left: 0;
    }
  }

  a {
    text-decoration: none;
    @extend .lato_bold_16, .white;

    &:hover {
      opacity: .8;
    }
  }
}