$primary_blue: #40B0F0;
$primary_white: #FFFFFF;

$secondary_blue: #185284;
$secondary_white: #FCFFFF;

$accent_blue: #20669F;

$grey_dark: #313131;
$grey_anthracite: #656565;
$grey_medium: #C5C5C5;
$grey_light: #F7F7F7;
$grey_bg: #E9E9E9;